.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.mat-toolbar.mat-primary {
  background: #4d516c;
  color: #f2904c;
}

.mat-button {
  font-size: 18px !important;
}

.example-spacer {
  flex: 1 1 auto;
}
