<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="text-uppercase">JioInsights</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/home" routerLinkActive="active">
      <span>Home</span>
    </button>
    <button mat-button routerLink="/companies" routerLinkActive="active" *ngIf="isLoggedIn">
      <span>View Companies</span>
    </button>
    <button mat-button routerLink="/contacts" routerLinkActive="active" *ngIf="isLoggedIn">
      <span>View Contacts</span>
    </button>
    <button mat-button (click)="login()" *ngIf="!isLoggedIn">
      <span>Login</span>
    </button>
    <button mat-button (click)="logout()" *ngIf="isLoggedIn">
      <span>Logout</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
