<div class="page-title">
  <div class="text-uppercase middle">About JioFlix</div>
</div>
<section class="content-wrapper">
  <div class="container">
      <div class="row mat-elevation-z2 blog-card">
          <div class="col-md-6 blog-content-section">
              <h2 class="blog-title">Enjoy on your TV.</h2>
              <p class="blog-content">
                Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.
              </p>
          </div>
          <div class="col-md-6 blog-img-section" style="padding: 0px;">
              <img src="/assets/images/entertainment6.jpg" width="100%" height="300" />
          </div>
      </div>
      <div class="row mat-elevation-z2 blog-card">
        <div class="col-md-6 blog-img-section" style="padding: 0px;">
          <img src="/assets/images/everywhere.jpeg" width="100%" height="300" />
        </div>
        <div class="col-md-6 blog-content-section">
            <h5 class="blog-title">Watch everywhere.</h5>
            <p class="blog-content">
              Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.
            </p>
        </div>
      </div>
      <div class="row mat-elevation-z2 blog-card">
        <div class="col-md-6 blog-content-section">
            <h2 class="blog-title">Profiles for children.</h2>
            <p class="blog-content">
              Send children on adventures with their favourite characters in a space made just for them—free with your membership.
            </p>
        </div>
        <div class="col-md-6 blog-img-section" style="padding: 0px;">
            <img src="/assets/images/children.jpg" width="100%" height="300" />
        </div>
    </div>
      <div class="row mat-elevation-z2 blog-card">
        <div class="col-md-6 blog-img-section" style="padding: 0px;">
          <img src="/assets/images/download.png" width="25%" height="25%" class="dowmload-img" />
        </div>
        <div class="col-md-6 blog-content-section">
            <h5 class="blog-title">Download your shows to watch offline.</h5>
            <p class="blog-content">
              Save your favourites easily and always have something to watch.
            </p>
        </div>
      </div>
  </div>
</section>
