.page-title {
	background-color: #888;
  color: #fff;
  height: 60px;
  margin-top: -5px;
  text-align: center;
  font-weight: bold;
  position: relative;
  font-size: 1.44rem;
}

.middle {
  padding-top: 20px;
}

.blog-card {
  margin: 30px auto;
}

.blog-card .blog-content-section {
  padding: 68px 30px;
  background-color: #fff;
  text-align: justify;
}

.blog-card .blog-date {
  color: #696969;
  margin-bottom: 10px;
}

.blog-card .blog-title {
  color: #323232;
  font-size: 50px;
  line-height: 50px;
  font-family: 'Roboto';
}

.blog-card .blog-content {
  color: #696969;
  font-size: 18px;
}

.blog-card .blog-action-button {
  position: absolute;
  bottom: 35px;
  right: 25px;
}
.blog-card-sec{
  padding: 0px;
  margin-left: 0px !important;
}
.dowmload-img {
  margin-left: 210px;
  margin-top: 75px;
}
