<div class="container" style="width: 100%;padding: 0px;">
  <img src="/assets/images/entertainment6.jpg" alt="Snow" class="entertainment" style="width:100%;height: 83.3%;">
  <div class="container centered">
    <div class="list-users" *ngIf="isAuthenticated()">
      <form class="example-form">
        <mat-card style="width: 50%;height: 550px;position: absolute;">

          <mat-card-title class="login-title">Companies Contact Information</mat-card-title><br>
          <mat-card-content>
            <div class="row col-md-12">
              <div class="col-md-6">
                <mat-form-field appearance="outline" floatLabel="auto" style="width: 510px;">
                  <mat-label>Select Company</mat-label>
                  <mat-select (selectionChange)="onSelect($event.value)">
                    <mat-option [value]="option.name" *ngFor="let option of allCompanies">{{ option.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-card class="example-card" *ngIf="company">
                  <mat-card-header>
                    <mat-card-title>{{ company.name}}</mat-card-title>
                  </mat-card-header>
                  <img mat-card-image [src]="company.logo" [alt]="company.name" height="180px">
                  <mat-card-content>
                    <p>
                      {{ company.description }}
                    </p>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</div>
